@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* transition: 1s cubic-bezier(0, 0.5, 0.59, 0.19); */

}

body{
    background: #333;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}

.container{
    animation: container 1s;
    position: relative;
    width: 500px;
    height: 500px;
    box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
                inset 5px 5px 10px rgba(0,0,0,0.3),
                inset 5px 5px 20px rgba(255,255,255,0.25),
                inset -5px 5px 15px rgba(0,0,0,0.65),
                inset 5px -5px 15px rgba(0,0,0,0.65);
    border-radius: 50% 50% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.analog{
    width: 85%;
    height: 85%;
    /* border: 2px solid #111; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    box-shadow: 10px 50px 70px rgba(0,0,0,0.25), 
    inset 5px 5px 10px rgba(0,0,0,0.3),
    inset 5px 5px 20px rgba(255,255,255,0.25),
    inset -5px 5px 15px rgba(0,0,0,0.65),
    inset 5px -5px 15px rgba(0,0,0,0.65);
    position: relative;
    flex-direction: column;
    align-items: center;
}

.analog::before{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    border: 3px solid rgb(152, 148, 148);
    background: rgb(61, 52, 52);
    z-index: 10000;
    border-radius: 50%;
}

.analog span{
    text-align: center;
    inset: 20px;
    position: absolute;
    transform: rotate(calc(30deg * var(--a)));
}

.analog span b{
    font-size: 1.2em;
    display: inline-block;
    font-weight: 600;
    color: rgb(113, 111, 111);
    opacity: .4;
    transform: rotate(calc(-30deg * var(--a)));
}

.circle{
    position: relative;
    width: 75%;
    height: 75%;
    border: 2px solid rgb(66, 66, 66);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 50%;
    
}
.circle i{
    position: absolute;
    height: 50%;
    width: 3px;
    background: var(--c);
    border-radius: 20%;
    opacity: .4;
    transform-origin: bottom;
    transform: scaleY(0.48);
}
.circle.a{
    animation: changeColor 1s infinite;
}
.circle.b i{
    width: 6px;
}

.circle.c i{
    width: 8px;
}
.circle.b{
    width: 60%;
    height: 60%;
    animation: changeColor1 1s infinite;
}
.circle.c{
    width: 40%;
    height: 40%;
    animation: changeColor2 1s infinite;
}

.circle::before{
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: -8px;
    background: var(--c);
    border-radius: 50%;
    box-shadow: 0 0 40px var(--c), 0 0 60px var(--c);
}

.digital{
    position: absolute;
    bottom: -5em;
    background: #333;
    margin-top: 2em;
    box-shadow: 10px 50px 70px rgba(0,0,0,0.25), 
    inset 5px 5px 10px rgba(0,0,0,0.3),
    inset 5px 5px 20px rgba(255,255,255,0.25),
    inset -5px 5px 15px rgba(0,0,0,0.65),
    inset 5px -5px 15px rgba(0,0,0,0.65); 
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
}

.digital span{
    font-size: 2em;
    font-weight: 600;
    opacity: .4;
    color: #ba7fba;
    opacity: 0.4;
    margin: 0 .15em;
}
.digital span:nth-child(4){
    animation: blink .5s linear infinite
}
.digital span:last-child{
    font-size: 1.4em;
}

.digital span.hr{
    color: #d003fd;
}
.digital span.min{
    color: #07dafa;
}
.digital span.sec{
    color: #fe0453;
}

.day{
    font-size: 1.4em;
    color: rgba(254, 254, 254, 0.06);
    
}

.digital .time{
    display: flex;
    align-items: center;
    gap: 5px;
}



@keyframes blink{
    from{
        color: transparent;
    }
    to{
        color: #ba7fba;
    }
}


.copyright{
    position: absolute;
    bottom: 10px;
    opacity: .4;
    animation: cp 1s;
}

*::selection{
    background: transparent;
}

@keyframes changeColor{
    0%{
        border: 2px solid rgba(254, 4, 83,0.4);
    }
    43%{
        border: 2px solid rgba(7, 218, 250,0.4);
    }
    74%{
        border: 2px solid rgba(208, 3, 253,0.4);
    }

}
@keyframes changeColor1{
    0%{
       
        border: 2px solid rgba(7, 218, 250,0.4);
    }
    43%{
        border: 2px solid rgba(254, 4, 83,0.4);
    }
    74%{
        border: 2px solid rgba(208, 3, 253,0.4);
    }

}
@keyframes changeColor2{
    0%{
        border: 2px solid rgba(15, 242, 3, 0.4);
    }
    43%{
        border: 2px solid rgba(92, 115, 240, 0.4);
    }
    74%{
        border: 2px solid rgba(143, 184, 6, 0.4);
    }

}

@keyframes container{
    from{
        transform: translate3d(200px, 100px,260px) rotate(40deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.59, 0.19);
    }
    to{
        transform: translate3d(0,0,0) rotate(0);
        animation-timing-function: cubic-bezier(0, 0.5, 0.59, 0.19);
    }
}

@keyframes cp{
    from{
        transform: translate(-50vh, -60vw) rotate(250deg) scale(2.5);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    to{
        transform: translate(0,0) rotate(0);
        animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
}